/* Animated Gallery */

.container {
    display: flex;
    justify-content: center;
  }

.jumbotron {
    box-shadow:  5px 10px black;
}

.display-4{
    color: white;
    text-align: center;
}
  
.header {
     text-align: center;
     font-family: 'Raleway', sans-serif;
 } 
  
div.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
div.item * {
    box-sizing: border-box;
  }
  
div.item img {
    max-width: 100%;
    vertical-align: top;
    height: 210px;
  }
  
div.item i {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 500ms 0ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
  }
  
div.item a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
  
div.item.blue {
    background-color: #34495e;
  }

div.item.blue i {
    color: #34495e;
  }

div.item.red {
    background-color: #e74c3c;
  }

div.item.red i {
    color: #e74c3c;
  }
  
div.item.green {
    background-color: #16a085;
  }

div.item.green i {
    color: #16a085;
  }
  
div.item:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
  } 
  
div.item * {
      transition: all 0.35s ease-in-out;
  }

div.item:hover i {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* Loading Icon */


.header-logo {
    font-family: Helvetica, Sans-serif; 
    color: #2c3e50;
    text-align: center;
    font-weight:300;
    font-size: 80px;
}



.loader {
    margin: auto;
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;   
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader2 {
    margin: auto;
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: spin2 2s linear infinite; 
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        border-top-color: red;
        border-bottom-color: red; 
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader3 {
    margin: auto;
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation: spin3 4s linear infinite; 
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg) scale(1);
        border-top-color: black;
        border-bottom-color:black; 
    }
    25% {
        border-top-color: #00ff00;
        border-bottom-color:#00ff00; 
    }
    50% {
        transform: rotate(360deg) scale(1.25);
        border-top-color: #ff00ff;
        border-bottom-color:#ff00ff;
    }
    75%{
        border-top-color: #ffcc00;
        border-bottom-color:#ffcc00;
    }
    100% {
        transform: rotate(720deg) scale(1);
        border-top-color: black;
        border-bottom-color:black; 
    }
}

.loader4 {
    text-align: center;
}

.loader4 span {
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3498db;
    display: inline-flex;
    margin: 35px 5px;
}

#dots {
    padding-top: 50px;
    justify-content: center;
}

/* .back{
    justify-content: center;
    background-color: #eee;
    padding: 50px 0;
    width: 300px;
    display: block;
    float: left;
} */



/* Flexbox Layout */